@import "tailwindcss";

@theme {
  --color-black : #1F242D;
  --color-yellow : #C8DD0A;
  --color-blue : #00EEFF;
  --color-grey : #657693;

  --font-montserrat: 'Montserrat', sans-serif;
  --font-display: "Syne", "Montserrat", sans-serif;

  --text-18: 18px;

  --breakpoint-mobile: 375px;
  --breakpoint-tablet: 768px;
  --breakpoint-desktop: 1440px;
}

@utility bg-gradient-yellow {
  background-image: linear-gradient(90deg, var(--color-black) 0%, var(--color-yellow) 100%);
}
@utility bg-gradient-black {
  background-image: linear-gradient(5deg, var(--color-grey) 0%, var(--color-black) 50%);
}


html {
  scroll-behavior: smooth;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  @media (min-width: 768px) {
    font-size: 32px;
  }
}

